@import 'navigation';
@import 'header';
@import 'footer';
@import 'typography';
@import 'bio';
@import 'dealers';
// -------------------------------
// Global Layout Styles
// -------------------------------
body{
	background:#fff;
	font-family: 'Lato', sans-serif;
}

.wrapper{
	@include outer-container();
	margin: 10px auto;
}

.btn{
	padding:10px 40px;
	box-shadow: 0 3px 0 darken($primary-color, 20%);
	display: inline-block;
	background: $primary-color;
	border-radius: 4px;
	margin-top:20px;
	color:white !important;
	text-decoration: none !important;
	text-shadow: 0 1px 0 darken($primary-color, 25%);

	&:hover{
		background: rgba($primary-color, 0.92);
	}
}

.remodal{
	color: $secondary-color;
}
