@import 'navigation';
@import 'footer';
@import 'typography';
@import 'navigation';


// -------------------------------
// Global Layout Styles
// -------------------------------
.wrapper{
	@include outer-container();
	padding:40px 20px;
	@include media($mobile) {
		padding:20px;
	}
}

.mainBody{
	h3{
		font-weight: 300;
		color:#666;
	}

	p{
		color:#666;
	}
}
