#dealers{

  #dealersPhotoSection{
    background:#f4f5f6;
    float:left;
    width:50%;

    @include media($tablet) {
      width:100%;
    }
  }

  aside{
    float:left;
    width:50%;
    overflow:hidden;

    @include media($tablet) {
      width:100%;
    }
  }
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
