#footer {
  color: #878f7f;
  clear:both;
  background:#d8ded1 url("../images/footer_bg.jpg") repeat;
  padding:0 0 100px;
  border-top:5px solid rgba(#000, 0.1);
  @include media($tablet) {
    padding:0;
  }

  #footer-links{
    width:160px;
    float:left;
    font-size: 0.8em;
    @include media($tablet) {
      display:block;
    }
  }

  .copywright{
    display: inline;
    margin-right: 0px;
    margin-top: 150px;
    float: right;
    text-transform: uppercase;
    font-size: 0.8em;
    @include media($tablet) {
      margin-top: 60px;
      text-align: center;
    }

    a{
      margin:0 30px;
      @include media($tablet) {
        margin:0 10px;
      }
    }
    a:last-child{
      margin-right:0;
    }
  }

  .footer-logo{
    margin-bottom:20px;
    width:100%;
    height:auto;
    opacity:0.4;
  }

  ul#site-links {
    li{
      text-align: right;
    }
  }
  a:link, a:visited {
    color: #878f7f;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    color:$primary-color;
  }
}
