header{
  border-bottom: 1px solid darken(#d7e2d1, 6%);
  #logo{
    background:white url("../images/logo.jpg") no-repeat;
    background-size: contain;
    height:135px;
    width:300px;
    padding:10px 0;
    float:left;
    @include media($tablet) {
      height:55px;
      width:110px;
    }

    img{
      width:100%;
      height:auto;
    }
  }
}
