#navigation{
  height:135px;
  padding:0;
  margin:0;
  background: url("../images/nav-banner.jpg") 0 0;
  background-size: cover;
  display: flex;
  @include media($tablet) {
    height:55px;
  }

  .nav-wrapper{
    align-self: flex-end;
    width:100%;
    background: rgba(255, 255, 255, 0.3);

    ul{
      @include media($tablet) {
        display:none;
      }
      margin:0;
      padding:0;
      float:right;
      margin-right:40px;
    }

    ul > li {
      display:inline-block;
      // background:red;
      cursor: pointer;
      margin:0px 0px;
      padding: 5px 20px;
      position: relative;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        &:hover{background:white;}
      a{
        text-decoration: none;
        text-transform: uppercase;
      }
    }

  }
}
