section.banner{
  background:black;
  background-size: cover !important;
  background-position: 0 40% !important;
  overflow: auto;
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 0 rgba(black, 0.3);
  background-size: cover;
  display:flex;
  align-items: center;
  height:300px;
  margin-top: 130px;
  background-attachment: fixed !important;

  @include media($tablet) {
    margin-top:58px;
    height:200px;
    background-attachment: inherit !important;
  }
}

#homeBanner{
  background:url("../uploads/iida-hero-home.jpg") no-repeat;
  height:520px;
  @include media($tablet) {
    height:400px;
  }
  @include media($mobile) {
    height:300px;
  }
}

#eventBanner{ background:url("../uploads/iida-hero-events.jpg")no-repeat;}
#boardBanner{ background:url("../uploads/iida-hero-board.jpg") no-repeat;}
#aboutBanner{ background:url("../uploads/iida-hero-about.jpg") no-repeat;}
#membershipBanner{background:url("../uploads/iida-hero-membership.jpg") no-repeat;}
#partnerBanner{background:url("../uploads/iida-hero-partner.jpg") no-repeat;}
