.banner{
  position: relative;
  width:100% !important;
  overflow: auto;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(20, 16, 9, 1);

  ul{
    padding: 0;
    margin: 0;


    li{
      list-style: none;
      padding: 0;
      margin: 0;
      height:700px;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: 0 top !important;
      float:left;
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(center);
    	@include align-items(center);

      @include media($tablet) {
        height:500px;
      }
      @include media($mobile) {
        height:350px;
      }

      .bannerWrap{
        text-align: center;
      }

      h1, p{
        width:75%;
        max-width: 1100px !important;
        text-align: center;
        margin: 0 auto;
      }
      h1{
        @include media($tablet) {
          width:100%;
        }
      }
      p{
        @include media($tablet) {
          display:none;
        }
      }
    }
  }
}

.unslider-nav{
  position: absolute;
  margin-top:-70px;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
	position: relative;
}
.unslider-nav ol li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
