@mixin imageSection{
  background-size: cover;
  background-attachment: fixed;
  height:300px;
  color:white;
  text-shadow: 1px 1px 0 rgba(black, 0.3);
  display:flex;
  align-items: center;

  @include media($tablet) {
    height:200px;
    font-size:0.8em;
  }
  @include media($mobile) {
    height:150px;
  }
}

#bioImageSection{
  background: url("../images/iida-hero2.jpg") no-repeat 0 0;
  @include imageSection;
  .title-banner{
    background: -moz-linear-gradient(left,  rgba(47,153,191,0.80) 0%, rgba(47,153,191,0.78) 53%, rgba(221,221,221,0) 90%);
    background: -webkit-linear-gradient(left,  rgba(47,153,191,0.80) 0%,rgba(47,153,191,0.78) 53%,rgba(221,221,221,0) 90%);
    background: linear-gradient(to right,  rgba(47,153,191,0.80) 0%,rgba(47,153,191,0.78) 53%,rgba(221,221,221,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92f99bf', endColorstr='#00dddddd',GradientType=1 );
  }
}

#boardBanner, #aboutBanner{
  @include imageSection;
  .title-banner{
    background: -moz-linear-gradient(left,  rgba(141,64,32,0.80) 0%, rgba(141,64,32,0.78) 53%, rgba(221,221,221,0) 90%);
    background: -webkit-linear-gradient(left,  rgba(141,64,32,0.80) 0%,rgba(141,64,32,0.78) 53%,rgba(221,221,221,0) 90%);
    background: linear-gradient(to right,  rgba(141,64,32,0.80) 0%,rgba(141,64,32,0.78) 53%,rgba(221,221,221,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92f99bf', endColorstr='#00dddddd',GradientType=1 );
  }
}

#membershipBanner{
  @include imageSection;
  .title-banner{
    background: -moz-linear-gradient(left,  rgba(240, 102, 48,0.80) 0%, rgba(240, 102, 48,0.78) 53%, rgba(221,221,221,0) 90%);
    background: -webkit-linear-gradient(left,  rgba(240, 102, 48,0.80) 0%,rgba(240, 102, 48,0.78) 53%,rgba(221,221,221,0) 90%);
    background: linear-gradient(to right,  rgba(240, 102, 48,0.80) 0%,rgba(240, 102, 48,0.78) 53%,rgba(221,221,221,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92f99bf', endColorstr='#00dddddd',GradientType=1 );
  }
}

.title-banner{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0px 80px;
  max-height: 160px;
  background: rgba(darken($accent-color, 30%), 0.6);
  background: -moz-linear-gradient(left,  rgba(85,124,43,0.8) 0%, rgba(85,124,43,0.7) 53%, rgba(192,200,183,0) 90%, rgba(221,221,221,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(85,124,43,0.8) 0%,rgba(85,124,43,0.7) 53%,rgba(192,200,183,0) 90%,rgba(221,221,221,0) 100%);
  background: linear-gradient(to right,  rgba(85,124,43,0.8) 0%,rgba(85,124,43,0.7) 53%,rgba(192,200,183,0) 90%,rgba(221,221,221,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc557c2b', endColorstr='#00dddddd',GradientType=1 );
  @include media($tablet) {
    background:rgba(darken($accent-color, 30%), 0.6);
    display:block;
    padding: 10px 0px;
    width:100%;
  }

  h3, p{
    display: inline;
    margin: 0;
    padding: 0;
    @include media($tablet) {
      display:block;
      text-align: center;
    }
  }
  h3{
    font-size: 8em;
    margin:0;
    padding:0;
    @include media($tablet) {
      font-size: 4em;
      line-height: 70px;
    }
  }
  p{
    margin-left: 40px;
    width: 40%;
    @include media($tablet) {
      margin:0;
      width:auto;
    }
  }
}
