#productsDisplay{
  background:url("../images/shellbg.jpg") no-repeat;
  background-position: -100px -250px;
  padding:50px 0;
  color: $secondary-color;

  h3{
    font-size: 2em;
    margin:0 auto 40px;
    text-align: center;
  }

  .container{
    @include outer-container();
  }

  ul{
    max-width:1000px;
    margin:0 auto;

    li{
      padding:0 40px;
      text-align: center;
      @include span-columns(4);
      @include transitionLong;
      @include media($tablet) {
        padding:0 20px;
      }
      @include media($mobile) {
        padding:0 12px;
      }

      &:hover{
        padding:0 38px;
        margin-top:-12px;
        cursor: pointer;

        @include media($tablet) {
          padding:0 18px;
        }
        @include media($mobile) {
          padding:0 10px;
        }
      }

      img{
        width:100%;
        text-align: center;
      }
    }
  }
}

.dim{
	opacity:0.8;
}
